.token {
	&.number {
		color: var(--code-number);
	}

	&.builtin {
		color: var(--code-builtin);
	}

	&.class-name {
		color: var(--code-builtin);
	}

	&.parameter {
		color: var(--code-variable-2);
	}

	&.selector {
		color: var(--code-tag);
	}

	&.hexcode,
	&.color {
		color: var(--code-value);
	}

	&.template-string {
		color: var(--code-string-2);
	}

	&.interpolation {
		color: var(--code-string-2);
	}

	&.interpolation-punctuation {
		color: var(--code-punctuation);
	}

	&.control-flow {
		color: var(--code-keyword);
	}
}
