.idea .inline-title {
  border-left: 0;
  padding-left: 1.4em;
  background:
    linear-gradient(var(--purple), var(--purple)) left / 3px 100% no-repeat,
    linear-gradient(var(--purple), var(--purple)) 7px 0 / 1px 100% no-repeat;
}
