.theme-dark {
	--bases-table-header-color: var(--amber);

	--bases-kanban-column-background: var(--background-secondary);
	--bases-kanban-card-background:   var(--bg_highlight_dark);
	--bases-kanban-card-shadow:       0 0 0 1px var(--bg_highlight);
	--bases-kanban-card-shadow-hover: 0 0 0 1px var(--amber);
	--bases-kanban-card-shadow-focus: 0 0 0 2px var(--amber);

	--bases-group-heading-value-color: var(--fg);
}
