.theme-dark {
	--callout-default:   var(--blue0);
	--callout-summary:   var(--cyan);
	--callout-info:      var(--teal);
	--callout-todo:      var(--silver);
	--callout-tip:       var(--green);
	--callout-important: var(--pink);
	--callout-success:   var(--lime);
	--callout-question:  var(--yellow);
	--callout-warning:   var(--orange);
	--callout-fail:      var(--crimson);
	--callout-error:     var(--red);
	--callout-bug:       var(--rose);
	--callout-example:   var(--magenta);
	--callout-quote:     var(--fg_dark);
}
