.theme-dark {
	--canvas-background: var(--bg-deep);
	--canvas-color:      var(--bg-raised);
	--canvas-color-1:    var(--red);
	--canvas-color-2:    var(--orange);
	--canvas-color-3:    var(--yellow);
	--canvas-color-4:    var(--green);
	--canvas-color-5:    var(--cyan);
	--canvas-color-6:    var(--purple);
}
