.theme-dark {
	--checkbox-radius:            4px;
	--checkbox-color:             var(--text-faint);
	--checkbox-color-hover:       var(--text-faint);
	--checkbox-marker-color:      var(--amber);
	--checkbox-border-color:      var(--text-faint);
	--checkbox-border-color-hover: var(--text-faint);
	--checklist-done-color:       var(--amber);
}
