.theme-dark {
	--graph-line:            var(--text-faint);
	--graph-node:            var(--text-normal);
	--graph-node-tag:        var(--orange);
	--graph-node-attachment: var(--blue);
	--graph-node-unresolved: var(--text-faint);
	--graph-node-focused:    var(--purple);
}
