.theme-dark {
	--input-hover-border-color: var(--comment);
	--input-focus-outline:      1px solid var(--interactive-accent);
	--radio-border-color:       var(--comment);
	--textarea-border-color:    var(--comment);
}
