.theme-dark {
	--input-hover-border-color: var(--text-faint);
	--input-focus-outline:      1px solid var(--interactive-accent);
	--radio-border-color:       var(--text-faint);
	--textarea-border-color:    var(--text-faint);
}
