.theme-dark {
	--link-color:               var(--amber0);
	--link-color-hover:         var(--amber);
	--link-external-color:      var(--text-muted);
	--link-external-color-hover: var(--text-normal);
}
