.theme-dark {
	--metadata-divider-color-hover:      var(--text-faint);
	--metadata-divider-color-focus:      var(--interactive-accent);
	--metadata-input-background-hover:   var(--bg-highlight);
	--metadata-label-background-hover:   var(--bg-highlight);
	--metadata-property-background-hover: var(--bg-highlight);

	--pill-background-hover: var(--bg-highlight);
}
