.theme-dark {
	--metadata-divider-color-hover:      var(--comment);
	--metadata-divider-color-focus:      var(--interactive-accent);
	--metadata-input-background-hover:   var(--bg_highlight);
	--metadata-label-background-hover:   var(--bg_highlight);
	--metadata-property-background-hover: var(--bg_highlight);

	--pill-background-hover: var(--bg_highlight);
}
