.theme-dark {
	--nav-item-color-hover:       var(--silver);
	--nav-item-background-hover:  var(--bg-highlight);
	--nav-item-color-active:      var(--green);
	--nav-item-background-active: var(--bg-highlight);
	--nav-file-tag:               var(--yellow);
	--nav-indentation-guide-color: var(--bg-highlight);
}
