@use "../../lib/palette" as *;

.theme-dark {
	--bg_dark2:          #{$bg-dark2};
	--bg:                #{$bg};
	--bg_highlight:      #{$bg-highlight};
	--bg_highlight_dark: #{$bg-highlight-dk};

	--fg:      #{$fg};
	--fg_dark: #{$fg-dark};
}
