.theme-dark {
	--table-header-background:       var(--bg);
	--table-header-background-hover: var(--bg_dark2);
	--table-row-alt-background:      var(--bg_dark2);
	--table-row-background-hover:    var(--bg_dark2);

	--table-row-alt-background-hover: var(--bg_dark2);
}
