.theme-dark {
	--tab-text-color:                    var(--text-muted);
	--tab-text-color-active:             var(--text-normal);
	--tab-text-color-focused:            var(--text-normal);
	--tab-text-color-focused-active:     var(--green);
	--tab-text-color-focused-active-current: var(--silver);
	--tab-text-color-focused-highlighted: var(--purple);
}
