.theme-dark {
	--table-header-background:       var(--bg);
	--table-header-background-hover: var(--bg-deep);
	--table-row-alt-background:      var(--bg-deep);
	--table-row-background-hover:    var(--bg-deep);

	--table-row-alt-background-hover: var(--bg-deep);
}
