.cm-tooltip.cm-tooltip-docstring,
.cm-tooltip.cm-completionInfo {
	color: var(--text-normal);
}

.canvas-minimap path {
	stroke: var(--background-modifier-border);
}

.markdown-rendered mark,
.markdown-rendered mark .internal-link,
.cm-s-obsidian span.cm-highlight,
.cm-s-obsidian span.cm-formatting-highlight {
	color: var(--silver);
}

.callout .callout {
	background-color: color-mix(in srgb, var(--callout-color) 10%, var(--bg));
}

.callout-title {
	color: color-mix(in srgb, var(--callout-color) 80%, var(--silver));
}

.footnote-backref {
	color: var(--fg_dark);
}
